.galeriaProductos {
    font-family: 'Raleway', sans-serif;
    background: #E5E5E5;
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: end;
}