.nuevoProducto{
    background: #E5E5E5;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 5rem;
    padding-top: 5rem;
}
@media screen and (max-width:600px) {
    .nuevoProducto{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}
@media screen and (min-width:600px) {
    .nuevoProducto{
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
@media screen and (min-width:996px) {
    .nuevoProducto{
        padding-left: 25%;
        padding-right: 25%;
    }
}
