.seccion__titulo{
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
}
@media screen and (max-width:600px) {
    .seccion__titulo{
        font-size: 22px;
    }
}
@media screen and (min-width:600px) {
    .seccion__titulo{
        font-size: 22px;
    }
}

@media screen and (min-width:996px) {
    .seccion__titulo{
        font-size: 32px;
    }
}