#login__email,
#login__clave,
.login__form .enviar {
    display: block;
    width: 100%;
}

#login__email,
#login__clave {
    padding: 1.75rem 1rem 1rem 1rem;
    border-bottom: .5px solid #C8C8C8;
    border-radius: 4px;
}

.login__form .enviar {
    font-size: 18px;
}

@media screen and (max-width:600px) {
    .login__form {
        width: calc(100% - 5rem);
    }
}

@media screen and (min-width:600px) {
    .login__form {
        width: 80%;
    }
}

@media screen and (min-width:996px) {
    .login__form {
        width: 45%;
    }
}