.head__boton{
    margin-left: 1rem;
    background: #F5F5F5;
    border: none;
    border: 1px solid #2A7AE4;
}

@media screen and (min-width:600px) {
    .head__boton{
        padding: .25rem 2rem;
    }
}
@media screen and (min-width:992px) {
    .head__boton{
        padding: .75rem 5rem;
    }
}