.head__buscar{
    display: flex;
    align-items: center;
    background:  #F5F5F5;
    border-radius: 20px;
    width: 50%;
}
#buscar__barra{
    border: none;
    outline: none;
    background: #F5F5F5;
    width: 95%;
}
#buscar__barra::placeholder{
    color: #A2A2A2;
}
#buscar__lupa{
    order: 2;
}
.head__buscar:hover{
    border: 1px solid #225497;
}
@media screen and (min-width:600px){
    .head__buscar{
        padding: .25rem ;
        font-size: 14px;
    }
}
@media screen and (max-width:600px) {
    .head__buscar{
        width: auto;
        background: #ffffff;
    }
    #buscar__barra{
        display: none;
    }
    #buscar__lupa{
        font-size: 25px;
    }
}
@media screen and (min-width:996px) {
    .head__buscar{
        padding: .5rem ;
        font-size: 16px;
    }

}