@media screen and (max-width:600px) {
    .head__logo{
        width: 100px;
        padding-right: .5rem;
    }
}
@media screen and (min-width:600px) {
    .head__logo{
        width: 100px;
        padding-right: 1rem;
    }
}

@media screen and (min-width:996px) {
    .head__logo{
        width: 176px;
        padding-right: 2rem;
    }
}