.head__logo-buscar{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 80%;
}
@media screen and (max-width:600px) {
    .head__logo-buscar{
        justify-content: space-between;
        width: 100%;
    }
}
@media screen and (min-width:600px) {
    .head__logo-buscar{

    }
}