.rodapie__imagen{
    width: 176px;
    height: 55px;
    margin-right: 2rem;
}
@media screen and (max-width:600px) {
    .rodapie__imagen{
        margin: 0 auto;
    }
}
@media screen and (min-width:600px) {
    .rodapie__imagen{
        position: absolute;
    }
}
@media screen and (min-width:996px) {
    .rodapie__imagen{
        position: relative;
    }
}